body
{
 background: #1adcfa;
}
.box
{
 
 height: 200px;
 width: 300px;
 background: #fff;
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 left: 42%;
 top: 35%;
 box-shadow: 0px 5px 6px #000;
}
.box2
{
 background-image: url(../image/ari.jpeg);
 height: 100px;
 width: 300px;
 position: absolute;
 top: 0;
}
.word
{
 color: #fff;
 position: absolute;
 left: 3%;
 top: 50%;
}
.text
{
 text-align: center;
 text-decoration: underline;
}
.text2
{
 position: absolute;
 top: 55%;
 left: 5%;
}
a{
    margin-left: 20px;
    color: #fff;
    size:bold;
    text-decoration: none;
}
.button1
{
 color: #f00;
 margin-right: 15px;
 position: relative;
 top: 19px;
 left: 4%;
}
.button2
{
 color: #f00;
 margin-right: 15px;
 position: relative;
 top: 90%;
 left: 65%;
}